{% extends "estudiantes/base.html" %}

{% block title %}Programa: {{ programa.nombre }}{% endblock %}

{% block content %}
<h1>Detalle del Programa</h1>

<p><strong>Nombre:</strong> {{ programa.nombre }}</p>
<p><strong>Descripción:</strong> {{ programa.descripcion }}</p>
<p><strong>Estado:</strong> {{ programa.estado }}</p>

<h3>Materias del programa</h3>

<table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%; color: #fff; background-color: #333; box-shadow: 0 4px 8px rgba(0, 0, 0, 3);">
    <thead style="background-color: #e84d13;">
        <tr>
            <th>Nombre de la Materia</th>
            <th>Profesor</th>
        </tr>
    </thead>
    <tbody>
        {% for materia in programa.materias.all %}
        <tr>
            <td>{{ materia.nombre }}</td>
            <td>{{ materia.profesor }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay materias registradas en este programa.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
